.card__trash-can-button {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/Trashcan-Button.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .3s ease;
}

.card_trash-can-button:hover {
    opacity: 0.6;
}