.gallery__cards {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 18px;
}

@media screen and (min-width: 581px) and (max-width: 881px) {
    .gallery__cards {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 321px) and (max-width: 580px) {
    .gallery__cards {
        max-width: 282px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .gallery__cards {
        margin: 0 19px;
        max-width: 282px;
    }
}